<mat-card id="table-holder">
    <form [formGroup]="filterForm" id="filter-row">

        <!-- header -->
        <div class="center-align" id="filter-header">
            <mat-icon>filter_alt</mat-icon>
            <b>Filters:</b>
        </div>
    
        <!-- Dex filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill">
            <mat-label>Dex</mat-label>
            <input matInput type="number" min="1" formControlName="dex">
        </mat-form-field>
    
        <!-- Name filter -->
        <mat-form-field floatLabel="always" class="filter-long" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
    
        <!-- Expansion filter -->
        <mat-form-field floatLabel="always" class="filter-long" appearance="fill">
            <mat-label>Expansion</mat-label>
            <input matInput type="text" formControlName="expansion">
        </mat-form-field>
    
        <!-- Gen filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill">
            <mat-label>Gen</mat-label>
            <input matInput type="number" min="1" formControlName="gen">
        </mat-form-field>
    
        <!-- Release filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill">
            <mat-label>Release</mat-label>
            <input matInput type="number" min="1" formControlName="release">
        </mat-form-field>
    
        <!-- Print filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill">
            <mat-label>Print</mat-label>
            <input matInput type="number" min="1" formControlName="print">
        </mat-form-field>
    
        <!-- Copies filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill" *ngIf="isMaster()">
            <mat-label>Copies (#)</mat-label>
            <input matInput type="number" min="0" formControlName="copies">
        </mat-form-field>

        <!-- Have Filter -->
        <mat-form-field floatLabel="always" class="filter" appearance="fill" *ngIf="!isMaster()">
            <mat-label>Have</mat-label>
            <mat-select formControlName="haveCard">
                <mat-option value="None">None</mat-option>
                <mat-option value="Placeholder">Placeholder</mat-option>
                <mat-option value="Have">Have</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="prime"
        (click)="clearFilter()">
            <mat-icon>clear</mat-icon>
            Clear
        </button>
    </form>
    
    <mat-divider></mat-divider><br>
    
    <table mat-table [dataSource]="cards" multiTemplateDataRows
        matSort (matSortChange)="sortData($event)">
    
        <!-- DropDown -->
        <ng-container [matColumnDef]="displayColumns[0]">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let card">
                <button mat-icon-button color="prime" class="drop-button"
                [disabled]="card.owned.length === 0"
                (click)="expanded = card === expanded ? undefined : card">
                    <mat-icon [ngClass]="card === expanded ? 'rotate' : 'origin'">
                        chevron_right
                    </mat-icon>
                </button>
            </td>
        </ng-container>
    
        <!-- Dex -->
        <ng-container [matColumnDef]="displayColumns[1]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[1] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.dexNumber }} </td>
        </ng-container>
    
        <!-- Name -->
        <ng-container [matColumnDef]="displayColumns[2]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[2] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.cardTitle }} </td>
        </ng-container>
    
        <!-- Expansion -->
        <ng-container [matColumnDef]="displayColumns[3]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[3] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.expansionName }} </td>
        </ng-container>
    
        <!-- Generation -->
        <ng-container [matColumnDef]="displayColumns[4]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[4] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.generation }} </td>
        </ng-container>
    
        <!-- Relase -->
        <ng-container [matColumnDef]="displayColumns[5]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[5] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.release }} </td>
        </ng-container>
    
        <!-- Print -->
        <ng-container [matColumnDef]="displayColumns[6]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[6] }}</th>
            <td mat-cell *matCellDef="let card"> {{ card.printNumber }}/{{ card.numCards }} </td>
        </ng-container>
    
        <!-- Copies -->
        <ng-container [matColumnDef]="displayColumns[7]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ displayColumns[7] }}</th>
            <td mat-cell *matCellDef="let card; let i = dataIndex">
                <div class="swap-cell">
                    {{ isMaster() ? card.conditionCount() : card.haveCard() }}
                    <button mat-icon-button color="prime"
                    *ngIf="!isMaster() && allowEdit" class="drop-button"
                    (click)="editChecklistCard(card, i)">
                        <mat-icon class="drop-icon">edit</mat-icon>
                    </button>    
                </div>
            </td>
        </ng-container>
    
        <!-- Individual Cards -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let card" [attr.colspan]="displayColumns.length" class="expanded">
                <div [@detailExpand]="expanded === card ? 'expanded' : 'collapsed'">
                    <div *ngFor="let instance of card.owned">
                       <app-individual-card
                        [instance]="instance"
                        [allowEdit]="allowEdit"
                        [mainKey]="card.expansionName + '-' + card.printNumber"
                       ></app-individual-card>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;" class="main-rows"></tr>
    
        <tr mat-row *matRowDef="let card; columns: ['expandedDetail']" class="drop-down"></tr>
    </table>
    
</mat-card>
