<form [formGroup]="listForm" id="list-form">
    <!-- Header -->
    <mat-card class="tight-card">
        <h2>
            Create List
    
            <button mat-icon-button aria-label="close-dialog-box" color="tert"
            (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </h2>
    
        <div class="side-by-side breathing-room">
            <!-- List inputs -->
            <div id="main-list-inputs">
                <!-- List Name -->
                <mat-form-field>
                    <mat-label>List Name</mat-label>
                    <input matInput formControlNmae="name" type="text">
                </mat-form-field>
    
                <!-- Add Cards -->
                <form [formGroup]="cardForm" id="card-form">
                    <br>
                    <h3>Add Card</h3>

                    <div>
                        <!-- expansion Name -->
                        <mat-form-field id="push-exp">
                            <mat-label>Expansion</mat-label>
                            <mat-select formControlName="expansion">
                                <mat-option *ngFor="let exp of expansionNames" [value]="exp">
                                    {{ exp }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Print Number -->
                        <mat-form-field id="small-print-input">
                            <mat-label>Print</mat-label>
                            <input matInput formControlName="print" type="number"
                            min="1" max="{{ expansions[cardForm.get('expansion').value].cards.length }}">
                        </mat-form-field>
                    </div>


                    <app-card-preview
                    [activeCard]="activeCard"
                    ></app-card-preview>

                    <button mat-raised-button color="prime"
                    (click)="addCard()">
                        <mat-icon>add</mat-icon>
                        Add Card
                    </button>
                    
                </form>
            </div>
    
            <mat-divider [vertical]="true"></mat-divider>
    
            <!-- Drag and Drop -->
            <div id="drag-n-drop">
                <h3>Cards in List</h3>
                <div cdkDropList class="card-list" (cdkDropListDropped)="drop($event)">
                    <div class="card-box" *ngFor="let card of cards; let i = index" cdkDrag>
                        <div class="card-placeholder" *cdkDragPlaceholder></div>
                        <div class="center-align">
                            {{ card.exp.name }}:
                            {{ card.preview.cardTitle }}
                            {{ card.preview.printNumber }}/{{ card.exp.numCards }}
                            {{ card.preview.rarity }}
                        </div>

                        <!-- <div class="action-buttons"> -->
                            <!-- add instance -->
                            <!-- <button mat-icon-button aria-label="Add-Card-Instance"
                            color="prime" class="action-button">
                                <mat-icon>add</mat-icon>
                            </button> -->

                            <!-- remove card -->
                            <button mat-icon-button aria-label="Remove-Card"
                            color="tert" class="action-button"
                            (click)="removeCard(i)">
                                <mat-icon>clear</mat-icon>

                            </button>
    
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    
    <div class="button-box">
        <!-- Submission button -->
        <button mat-raised-button color="prime"
        (click)="submit()">
            <mat-icon>cloud_upload</mat-icon>
            Add List to Database
        </button>
    </div>

</form>
