<app-go-back></app-go-back>

<form [formGroup]="listForm" id="list-form">
    <!-- Header -->
    <mat-card class="tight-card">
        <h2>
            Create List
        </h2>
    
        <div class="side-by-side breathing-room">
            <!-- List inputs -->
            <div id="main-list-inputs">
                <!-- List Name -->
                <mat-form-field>
                    <mat-label>List Name</mat-label>
                    <input matInput formControlName="name" type="text">
                </mat-form-field>
    
                <!-- Add Cards -->
                <form [formGroup]="cardForm" id="card-form">
                    <h3>{{ drag ? 'Add Cards to List' : 'Prepopulation Options' }}</h3>

                    <div *ngIf="drag">
                        <!-- expansion Name -->
                        <mat-form-field id="push-exp">
                            <mat-label>Expansion</mat-label>
                            <mat-select formControlName="expansion">
                                <mat-option *ngFor="let exp of expansionNames" [value]="exp">
                                    {{ exp }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Print Number -->
                        <mat-form-field id="small-print-input">
                            <mat-label>Print</mat-label>
                            <input matInput formControlName="print" type="number"
                            min="1" max="{{ expansions[cardForm.get('expansion').value].cards.length }}">
                        </mat-form-field>
                    </div>

                    <!-- Preview card to add -->
                    <app-card-preview
                    *ngIf="drag"
                    [activeCard]="activeCard"
                    ></app-card-preview>

                    <!-- prepopulate List -->
                    <div *ngIf="!drag" color="prime">
                        <mat-slide-toggle formControlName="prepopulate">
                            Auto-populate
                        </mat-slide-toggle>
                    </div>

                    <div class="button-box-2">
                        <button mat-raised-button color="prime"
                        *ngIf="drag"
                        [disabled]="!drag || !activeCard"
                        (click)="addCard()">
                            <mat-icon>add</mat-icon>
                            Add Card
                        </button>

                        <button mat-raised-button color="prime"
                        (click)="swapState()">
                            <mat-icon>{{ drag ? 'check' : 'arrow_back_ios' }}</mat-icon>
                            {{ drag ? 'Finalize' : 'Back' }}
                        </button>
    
                    </div>
                    
                </form>
            </div>
    
            <mat-divider [vertical]="true"></mat-divider>
    
            <!-- Drag and Drop -->
            <div id="drag-n-drop">
                <h3>Cards in List:</h3>
                <div cdkDropList class="card-list" (cdkDropListDropped)="drop($event)">
                    <div class="card-box" *ngFor="let card of cards; let i = index"
                    [ngStyle]="drag ? { 'cursor': 'move' } : { 'cursor': 'default' }"
                    cdkDrag [cdkDragDisabled]="!drag">

                        <!-- Placeholder -->
                        <div class="card-placeholder" *cdkDragPlaceholder></div>

                        <!-- Main content -->
                        <div>
                            <div class="separate-content grow">
                                <div class="center-align separate-content grow">
                                        <b>
                                            {{ card.exp.name }}:
                                            {{ card.preview.cardTitle }}
                                            {{ card.preview.printNumber }}/{{ card.exp.numCards }}
                                            {{ card.preview.rarity }}    
                                        </b>

                                     <!-- remove card -->
                                    <button mat-icon-button *ngIf="drag"
                                        aria-label="Remove-Card" color="tert" class="action-button"
                                        (click)="removeCard(i)">
                                            <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
    
                                <!-- Pick method to prepopulate list -->
                                <mat-form-field *ngIf="!drag" id="population-method">
                                    <mat-label>Population Method</mat-label>
                                    <mat-select [disabled]="!cardForm.get('prepopulate').value" #defaultChoice>
                                        <mat-option value="best" (click)="populateOption('best', i)">
                                            Find Best Card
                                        </mat-option>
                                        <mat-option value="useCard" (click)="populateOption('useCard', i)">
                                            Use Specific Card
                                        </mat-option>
                                        <mat-option value="skip" (click)="populateOption('skip', i)">
                                            Skip
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Chosen card if a card is chosen -->
                            <div *ngIf="populateMethods[i].method === 'useCard' && !drag">
                                <button mat-button color="prime"
                                (click)="expanded === i ? expanded = undefined : expanded = i">
                                    <mat-icon>{{ expanded === i ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    {{ expanded === i ? 'Hide Card' : 'View Card' }}
                                </button>
                                <app-individual-card
                                *ngIf="expanded === i"
                                [instance]="previews[i]"
                                ></app-individual-card>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    
    <div class="button-box">
        <!-- Submission button -->
        <button mat-raised-button color="prime"
        [disabled]="!listForm.valid || drag || isLoading"
        (click)="submit()">
            <mat-icon>cloud_upload</mat-icon>
            Add List to Database
        </button>
    </div>

</form>

<div class="progress-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="200"></mat-spinner>
</div>
