@import '../Variables.scss';

.main-info-display {
    background-color: $palette5;
    padding-left: 1em;
}

.card-table {
    background-color: $palette6;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(29px, 0fr));
    grid-auto-flow: column;
    max-width: 80vw;
    height: 80vh;
    grid-template-columns: repeat(auto-fill, minmax(120px, 0fr));
    overflow-x: auto;
}

.card-cell {
    margin: 3px;
    padding: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;

    mat-icon {
        margin-top: -1px;
        font-size: 15pt;
    }
}

::ng-deep .tooltip {
    color: black !important;
    background-color: #e4d751;
    font-size: 12pt;
    white-space: pre-line;
    margin-left: 0px !important;
}

.max-width {
    width: 650px;
}