<app-go-back></app-go-back>
<div class="main-exp-viewer">
    <div id="separate-main-actions">

        <div>
            <!-- Expansion Selector -->
            <mat-form-field>
                <mat-label>View Expansion</mat-label>
                <mat-select [formControl]="expansionName">
                    <mat-option *ngFor="let expansion of expansionNames"
                    [value]="expansion">
                        {{ expansion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            Gen: {{ gen }} Release: {{ release }}
        </div>

        <div>
            <a mat-flat-button color="prime" [routerLink]="['../add']"
            *ngIf="isLoggedIn()">
                <mat-icon>add</mat-icon>
                Add
            </a>
            <button mat-flat-button color="warn" (click)="deleteSet()"
            *ngIf="isLoggedIn()">
                <mat-icon>delete_outline</mat-icon>
                Delete
            </button>
        </div>


    </div>

    <div class="add-background">
        <app-expansion-viewer [cards]="cards"
        ></app-expansion-viewer>    
    </div>
</div>
