 <form [formGroup]="cardForm" id="card-form-sub">

    <!-- Header -->
     <h2>
         Select Card

         <button mat-icon-button aria-label="close-dialog-box" color="tert"
            (click)="close()">
                <mat-icon>clear</mat-icon>
        </button>
     </h2>
     
     <!-- Main Form -->
     <div id="inputs-section">
        <!-- expansion Name -->
        <mat-form-field id="push-exp-2">
            <mat-label>Expansion</mat-label>
            <mat-select formControlName="expansion">
                <mat-option *ngFor="let exp of expansionNames" [value]="exp">
                    {{ exp }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Print Number -->
        <mat-form-field id="small-print-input-2">
            <mat-label>Print</mat-label>
            <input matInput formControlName="print" type="number"
            min="1" max="{{ expansions[cardForm.get('expansion').value].cards.length }}">
        </mat-form-field>

        <!-- Preview card to add -->
        <div id="preview-card-container">
            <app-card-preview
            [activeCard]="activeCard"
            ></app-card-preview>    
        </div>

        <mat-card class="sub-card">
            <h3>Card Instances</h3>
            
            <mat-divider></mat-divider><br>

            <div *ngFor="let instance of getInstances(); let i = index" class="card-choices">
                <app-individual-card
                [instance]="instance"
                ></app-individual-card>

                <button mat-icon-button color="prime" aria-label="Select-Card"
                (click)="submit(i)">
                    <mat-icon>check</mat-icon>
                </button>
            </div>
        </mat-card>
     </div>
 </form>
