<header>
    <h1>
        My Pok&eacute;mon Card Collection
    </h1>


    <!-- Main sight actions -->
    <div id="main-site-actions">
        <div>
            <a mat-raised-button color="second" class="main-actions"
            routerLink="card">
                Add Card
            </a>
            <a mat-raised-button color="second" class="main-actions"
            routerLink="expansion">
                Add Expansion
            </a>
            <a mat-raised-button color="second" class="main-actions"
            routerLink="checklist">
                Create List
            </a>
        </div>

        <button mat-raised-button color="second" class="main-actions"
        (click)="changelogin()">
        <mat-icon id="google-logo" svgIcon="google-logo" *ngIf="!isLoggedIn()"></mat-icon>
            {{ isLoggedIn()  ? 'Log Out' : 'Login With Google' }}
        </button>
    </div>
</header>
