<header>
    <h1>
        My Pok&eacute;mon Card Collection
    </h1>


    <!-- Main sight actions -->
    <div id="main-site-actions">
        <div>
            <button mat-raised-button color="second" class="main-actions"
            (click)="addCard()">
                Add Card
            </button>
            <button mat-raised-button color="second" class="main-actions"
            (click)="addExpansion()">
                Add Expansion
            </button>
            <button mat-raised-button color="second" class="main-actions"
            (click)="addList()">
                Create List
            </button>
        </div>

        <button mat-raised-button color="second" class="main-actions"
        (click)="changelogin()">
        <mat-icon id="google-logo" svgIcon="google-logo" *ngIf="!isLoggedIn()"></mat-icon>
            {{ isLoggedIn()  ? 'Log Out' : 'Login With Google' }}
        </button>
    </div>
</header>
