@import '../Variables.scss';

header {

    background-color: $palette7;
}

h1 {
    a {
        font-family: "pokemon";
        color: $pokemon-yellow;
        font-size: 25pt;
        -webkit-text-stroke: 2.2px $pokemon-blue;
        letter-spacing: 0.15em;
        padding: .1em 0em .3em .3em;
    }
}


#main-site-actions {
    display: flex;
    justify-content: space-between;
}

#google-logo {
    margin: 0em 1em 0em 0em;
}

.main-actions {
    margin: 0em .5em .5em .5em;
}