<form [formGroup]="cardForm">
    <mat-card class="tight-card" id="choose-card-section">
        <h2>
            Create List
    
            <button mat-icon-button aria-label="close-dialog-box" color="tert"
            (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </h2>
    
        <div class="side-by-side">
            <div id="card-picking-section">

                <!-- Expansion -->
                <mat-form-field>
                    <mat-label>Expansion</mat-label>
                    <mat-select formControlName="exp">
                        <mat-option *ngFor="let exp of expansionNames" [value]="exp">
                            {{ exp }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Available Cards -->
                <mat-form-field>
                    <mat-label>Card</mat-label>
                    <mat-select formControlName="activeCardChunkKey">
                        <mat-option *ngFor="let card of allowed; let i = index"
                        [value]="card.expansionName + '-' + card.printNumber">
                            {{ card.expansionName }}: {{ card.cardTitle }} ({{ card.printNumber }}/{{ card.numCards }})
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Which instance -->
                <mat-form-field *ngIf="this.getValue('activeCardChunk')">
                    <mat-label>Card Instance</mat-label>
                    <mat-select formControlName="activeCard">
                        <mat-option *ngFor="let instance of this.getValue('activeCardChunk')" [value]="instance">
                            {{ instance.form }} {{ instance.condition }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div id="decision-section">
                <app-individual-card
                [instance]="cardForm.get('activeCard').value"
                ></app-individual-card>
            </div>
        </div>

    </mat-card>

    <div class="button-box">
        <button mat-raised-button color="prime"
        [disabled]="!this.getValue('activeCard')"
        (click)="submit()">
            <mat-icon>check</mat-icon>
            Submit Changes
        </button>

        <button mat-raised-button color="warn" *ngIf="edit"
        (click)="upload(true)">
            <mat-icon>delete_outline</mat-icon>
            Remove Card
        </button>
    </div>
</form>
