<form [formGroup]="expansionForm">

    <mat-card class="tight-card" id="main-card">
        <!-- header -->
        <h2>
            Expansion Info
            
            <button mat-icon-button aria-label="close-dialog-box" color="tert"
            (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </h2><br>

        <div id="main-input-section">
            <!-- Name -->
            <mat-form-field>
                <mat-label>Expansion Name</mat-label>
                <input matInput type="text" formControlName="name" cdkFocusInitial>
            </mat-form-field>

            <!-- Generation -->
            <mat-form-field>
                <mat-label>Generation</mat-label>
                <input matInput type="number" formControlName="generation">
            </mat-form-field>

            <!-- Release -->
            <mat-form-field>
                <mat-label>Release</mat-label>
                <input matInput type="number" formControlName="release">
            </mat-form-field>
            
            <!-- NumCards -->
            <mat-form-field>
                <mat-label>Number of Cards</mat-label>
                <input matInput type="number" formControlName="numCards">
            </mat-form-field>

            <!-- Cards -->
            <!-- <p>
                <button mat-raised-button color="primary"
                *ngIf="!expansionForm.get('cards').value"
                (click)="fileInput.click()">
                    <mat-icon>cloud_upload</mat-icon> Upload Card .csv File
                </button>

                <button mat-raised-button color="warn"
                *ngIf="expansionForm.get('cards').value"
                (click)="clearCards()">
                    <mat-icon>clear</mat-icon> Clear Cards
                </button>
                
                Actual uploader -->
                <!-- <input #fileInput type="file" (change)="onFileInput($event)"
                        style="display:none;" id="file">
                <br>

                
            </p> -->
        </div>

        <!-- Individual cards -->
        <mat-card id="individual-cards" class="tight-card">

            <!-- Header -->
            <h2>
                Cards in Set:
                <!-- Upload Cards -->
                <div>
                    <button mat-raised-button color="primary"
                    *ngIf="!expansionForm.get('cards').value"
                    (click)="fileInput.click()">
                        <mat-icon>cloud_upload</mat-icon> Upload Card .csv File
                    </button>
    
                    <button mat-raised-button color="warn"
                    *ngIf="expansionForm.get('cards').value"
                    (click)="clearCards()">
                        <mat-icon>clear</mat-icon> Clear Cards
                    </button>
                    
                    <!-- Actual uploader -->
                    <input #fileInput type="file" (change)="onFileInput($event)"
                            style="display:none;" id="file">
                </div>
            </h2>

            <!-- View Cards -->
            <div id="individual-cards-card" *ngIf="expansionForm.get('cards').value[0]">
                <table>
                    <!-- Header -->
                    <tr>
                        <th><b>Print:</b></th>
                        <th><b>Card:</b></th>
                        <th><b>Type:</b></th>
                        <th><b>Rarity:</b></th>    
                    </tr>

                    <!-- Content -->
                    <tr *ngFor="let card of expansionForm.get('cards').value">
                        <td>{{ card.printNumber }}</td>
                        <td>
                            {{ card.cardTitle }}<span *ngIf="card.dexNumber">
                            ({{ card.dexNumber}})</span>
                        </td>
                        <td>{{ card.cardType }}</td>
                        <td>{{ card.rarity }}</td>
                    </tr>
                </table>

            </div>
        </mat-card>

        <span id="expected-form">
            <b>Expected Form:</b> Name, Type, Rarity (print number is inferred by order).
        </span>

    </mat-card>

    <div class="button-box">
        <button mat-raised-button color="prime"
        [disabled]="!expansionForm.valid"
        (click)="submit()">
            <mat-icon>cloud_upload</mat-icon>
            Add Expansion to Database
        </button>
    </div>

</form>
