@import './Variables.scss';

#outer-app-frame {
    display: flex;
    justify-content: center;
    background-color: $pokemon-blue;
    min-height: 100vh;
    width: 100%;
}

#page-extender {
    display: flex;
    flex-flow: column;
    background-color: $palette7;
}