<div *ngFor="let card of static.Cards">
        {{ card.expansionName }}
        {{ static.Expansions[card.expansionName].cards[card.printNumber-1].dexNumber }}
        {{ static.NationalDex[static.Expansions[card.expansionName].cards[card.printNumber-1].dexNumber - 1] }}
        {{ static.Expansions[card.expansionName].cards[card.printNumber-1].printNumber }}/{{ static.Expansions[card.expansionName].numCards }}
        {{ static.Expansions[card.expansionName].cards[card.printNumber-1].rarity }}
        <br>
        Flaws:
        <div *ngFor="let crease of card.creases">
            {{ crease.where }} {{ crease.landmark}}: {{ crease.severity }}
        </div>
</div>