$palette1: #837d37;
$palette2: #c3d8e4;
$palette3: #e7c09e;
$palette4: #BC986A;
$palette5: #FBEEC1;
$palette6: #fcf6e0;
$palette7: #97bfd6;
$palette8: #c2b68a;
$palette9: rgb(158, 152, 97);

$pokemon-yellow: #ffcb05;
$pokemon-blue: #3c5aa6;

$borders-grey: #c2c2c2;

$max-width: 975px;