<!-- Pick List -->
<div id="title-select">
    <h2 class="center-align">
        {{ whichList.value }}
        <button mat-icon-button
        aria-label="{ allowEdit ? 'stop-editing-cards' : 'start-editing-cards'}"
        (click)="lockSwitch()">
            <mat-icon>{{ allowEdit ? 'lock_open' : 'lock' }}</mat-icon>
        </button>
    </h2>
    
    <!-- Select -->
    <mat-form-field appearance="fill" id="list-picker" color="prime">
        <mat-label>Show...</mat-label>
        <mat-select [formControl]="whichList">
            <mat-option *ngFor="let list of cardLists" [value]="list">
                {{ list }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>

<app-card-table
    [displayCards]="masterList"
    [allowEdit]="allowEdit"
></app-card-table>
