@import './app/Variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Pokemon";
    src: local("Pokemon"), url(./assets/fonts/PokemonSolid.ttf) format("truetype");
}

.tab {
    margin-left: 1.5em;
}

.add-margin {
    margin-left: 1em;
}

.tight-card {
    padding: 0px !important;
}

.breathing-room {
    padding: 0em 1em;
}

.center-align {
    display: flex;
    align-items: center;
}

.mat-prime {
    background-color: $palette1;
    color: $palette6;
}

.mat-second {
    background-color: $palette2;
    color: black;
}

.mat-dialog-container {
    padding: 0px !important;
}